Source: network-manager-fortisslvpn
Section: net
Priority: optional
Maintainer: Gregor Riepl <onitake@gmail.com>
Build-Depends: debhelper (>=9),dh-autoreconf,
  libnm-dev,libnm-glib-dev,libnm-glib-vpn-dev,libnm-gtk-dev,
  network-manager-dev
Depends: openfortivpn
Standards-Version: 3.9.6
Homepage: https://git.gnome.org/browse/network-manager-fortisslvpn
Vcs-Git: https://git.gnome.org/browse/network-manager-fortisslvpn
Vcs-Browser: https://git.gnome.org/browse/network-manager-fortisslvpn

Package: network-manager-fortisslvpn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fortinet SSLVPN plugin for NetworkManager
  This a frontend for the openfortivpn client.
